body{
    margin: 0px;
}
.div-1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
   
}
.name{
    font-size: 0.8rem;
}
.first-menu-container{
    display: none;
}
.icons-container{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.contact{
    width: 1rem;
}
.contact:hover{    
    transform: scale(1.1);
}
.search{
    width: 0.8rem;
}
.search:hover{
    transform: scale(1.1);
}
.love{
    width: 0.8rem;
}
.love:hover{
    transform: scale(1.1);
}
.cart{
    width: 0.8rem;
}
.cart:hover{
    transform: scale(1.1);
}

.first-section-mini-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.menu-container{
 display: flex;
 flex-direction: column;
 gap: 15px;
 font-family: Georgia, 'Times New Roman', Times, serif;
 padding-left: 10px;
 background-color: rgb(0, 153, 255);
 width: 50px;
 height: 160px;
}
.home{
margin: 0px;
font-size: 0.5rem;
padding-top: 10px;
}
.home:hover {
color: white;
transform: scale(1.1);
}
.shop{
    margin: 0px;
    font-size: 0.5rem;
}
.shop:hover{
    color: white;
    transform: scale(1.1);
}
.pages{
    margin: 0px;
    font-size: 0.5rem;
}
.pages:hover{
    color: white;
    transform: scale(1.1);
}
.blog{
    margin: 0px;
    font-size: 0.5rem;
}
.blog:hover{
    color: white;
    transform: scale(1.1);
}
.element{
    margin: 0px;
    font-size: 0.5rem;
}
.element:hover{
    color: white;
    transform: scale(1.1);
}
.buy{
    margin: 0px;
    font-size: 0.5rem;
}
.buy:hover{
    color: white;
    transform: scale(1.1);
}
.drop-down{
    width: 0.7rem;
    padding-top: 3px;
    display: none;
}

.icons-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.content{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 160px;
    width: 100%;
    justify-content: center;
}
.content-mini-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.sale{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 153, 255);
    margin: 0px;
}
.men-fashion{
    margin: 0px;
}
.discount{
    margin: 0px;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-1{
    padding: 5px 5px; 
    font-size: 0.4rem;
    color: white;
    background-color: rgb(0, 153, 255);
    border: none;
}
.button-2{
    padding: 4px 5px; 
    font-size: 0.4rem;
    border-color: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    border-width: 1px;
    background-color: inherit;
}
.image-1{
    display: none;
}
.second-section-container{
 display: flex;
 flex-direction: row;
 justify-content: center;
 padding-top: 30px;
 padding-bottom: 30px;
 gap: 20px;
}
.freeshipping-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 7px;
}
.shipping-icon{
    width: 20px;
}
.freeshipping-content{
    display: flex;
    flex-direction: column;
    gap: 2px;
}
.freeshipping, .orders{
    margin: 0px;
}
.freeshipping{
    font-size: 0.6rem;
}
.orders{
    font-size: 0.4rem;
}
.second-section-mini-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 15px;
    padding-bottom: 30px;
}
.third-section-1{
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}
.third-section-main-container{
width: 280px;
border-radius: 5px;
background-color: whitesmoke;

}
.third-section-first-mini-container{
display: flex;
flex-direction: row;
align-items: center;
gap: 5px;
}
.image-2{
 width: 120px;
}
.third-section-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    gap: 5px;
    padding-top: 20px;
}
.arrival{
margin: 0px;
font-size: 0.7rem;
color: rgb(0, 153, 255);
padding-left: 30px;
}
.women{
margin: 0px;
font-size: 0.9rem;

}
.discount-1{
margin: 0px;
font-size: 0.7rem;
padding-left: 20px;
}
.button-container-content{
    padding-left: 35px;
}
.button-3{
    padding: 5px 8px;
    border-radius: 30px;
    font-size: 0.5rem;
    border-width: 1px;
    border-style: groove;
    background-color: inherit;
}
.fourth{
    display: flex;
    flex-direction: column;
}
.fourth-overall-section-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    padding-bottom: 10px;
}
.fourth-section-container{
    background-color: rgb(194, 166, 159);
    width: 135px;
    border-radius: 5px;
    height: 100px;
    display: flex;
    align-items: center;
}
.overall-handbag-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding-left: 10px;
}
.handbag-container{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.discount-2{
    background-color: rgb(0, 153, 255);
    color: white;
    width: 40px;
    height: 10px;
    text-align: center;
    font-size: 0.4rem;
}
.off{
    padding-top: 2px;
    margin: 0px;
}
.handbag{
    margin: 0px;
    font-size: 0.7rem;
    color: white;
}
.shopnow-icon{
display: flex;
align-items: center;
flex-direction: row;
gap: 3px;
font-size: 0.5rem;
}
.drop-down-icon{
    width: 6px;
   
}
.image-3{
    width: 70px;
}
.fourth-section-second-container{
    background-color: whitesmoke;
    width: 135px;
    border-radius: 5px;
    height: 100px;
    display: flex;
    align-items: center;
}
.watch{
    margin: 0px;
    font-size: 0.7rem;
    color: black;
}
.image-4{
    width: 60px;
}

.overall-fourth-section-third-container{
display: flex;
justify-content: center;
}
.fourth-section-third-container{
    background-color: rgb(194, 166, 159);
    width: 280px;
    border-radius: 5px;
    height: 110px;
    display: flex;
    align-items: center;
}
.overall-backpack-container{
    display: flex;
    flex-direction: row;
    padding-left: 25px;
    align-items: center;
    gap: 40px;
}
.backpack-container{
display: flex;
flex-direction: column;
gap: 5px;
}
.discount-3{

}
.off-1{
color: white;
font-size: 0.7rem;
margin: 0px;
}
.backpack{
font-size: 0.8rem;
margin: 0px;
color: white;
}
.off-2{
font-size: 0.7rem;
margin: 0px;
color: white;
}
.image-5{
width: 95px;
}

.products{
    text-align: center;
    font-size: 1rem;
    padding-top: 30px;
    margin: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.products-container{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
gap: 15px;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.list{
    font-size: 0.6rem;
    margin: 0px;
    padding-top: 10px;
}

.overall-shopping-pick-container{
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 15px;
 padding-top: 20px;
}
.first-shopping-pick-container{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
}
.first-mini-shopping-pick-container-1{
    background-color: whitesmoke;
    width: 115px;
    height: 125px;
    border-radius: 5px;
}
.first-mini-shopping-pick-container{
display: flex;
flex-direction: row;
padding-top: 10px;
}
.div_1{
 display: flex;
 flex-direction: column;
 gap: 3px;
 padding-top:10px;
}
.discount_1{
 color: white;
 background-color: green;
 width: 30px;
 height: 10px;
 font-size: 0.4rem;
 text-align: center;
}
.off-3{
    padding-top: 2px;
    margin: 0px;
}
.featured{
 background-color: orange;
 color: white;
 width: 40px;
 height: 10px;
 font-size: 0.4rem;
 text-align: center;
}
.feature{
    padding-top: 2px;
    margin: 0px;
}
.image_1{
    width: 75px;
    padding-top: 15px;
}
.info-1{
  display: flex;
  flex-direction: column;
  gap: 3px;
  padding-top: 10px;
}
.name-1{
    margin: 0px;
    font-size: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}
.description{
    margin: 0px;
    font-size: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.overall-rating-container{
    display: flex;
    flex-direction: row;
    gap: 2px;
}
.rating{
display: flex;
flex-direction: row;
align-items: center;
}
.image_2{
    width: 7px;
}
.number{
    font-size: 0.5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}
.amount{
    margin: 0px;
    font-size: 0.6rem;
}
.image-container{
    display: flex;
    justify-content: center;
}
.image_3{
    width: 140px;
}
.second-shopping-pick-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding-top: 20px;
}

.image_4{
    width: 90px;
}
.image_5{
    width: 70px;
    padding-top: 10px;
}
.image_6-container{
    padding-right: 10px;
}
.image_6{
    width: 75px;
    padding-top: 15px;
}

.third-shopping-pick-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    padding-top: 20px;
}
.image-container-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.image_7{
    width: 110px;
}






@media screen and (max-width: 1440px) and (min-width: 768px){   
.first-menu-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.home-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}
.home{
    padding: 0px;
    font-size: 0.7rem;
}
.home:hover {
    color: rgb(0, 153, 255);
    transform: scale(1.1);
    }
.shop-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }    
    .shop{
        margin: 0px;
        font-size: 0.7rem;
    }
    .shop:hover{
        color: rgb(0, 153, 255);
        transform: scale(1.1);
    }
.pages-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .pages{
        margin: 0px;
        font-size: 0.7rem;
    }
    .pages:hover{
        color: rgb(0, 153, 255);
        transform: scale(1.1);
    }
.blog-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .blog{
        margin: 0px;
        font-size: 0.7rem;
    }
    .blog:hover{
        color: rgb(0, 153, 255);
        transform: scale(1.1);
    }
.element-container{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 5px;
    }
    .element{
        margin: 0px;
        font-size: 0.7rem;
    }
    .element:hover{
        color: rgb(0, 153, 255);
        transform: scale(1.1);
    }
    .buy{
        margin: 0px;
        font-size: 0.7rem;
    }
    .buy:hover{
        color: rgb(0, 153, 255);
        transform: scale(1.1);
    }
    .drop-down{
        display: flex;
        width: 0.6rem;
        padding-top: 3px;
    }
.menu-container{
    display: none;
}
.second-section-main-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    padding-bottom: 30px;
    padding-top: 30px;
}

.second-section-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 30px;
    gap: 20px;
   }
   .freeshipping-container{
       display: flex;
       flex-direction: row;
       align-items: center;
       gap: 7px;
   }
   .shipping-icon{
       width: 25px;
   }
   .freeshipping-content{
       display: flex;
       flex-direction: column;
       gap: 2px;
   }
   .freeshipping, .orders{
       margin: 0px;
   }
   .freeshipping{
       font-size: 0.8rem;
   }
   .orders{
       font-size: 0.6rem;
   }
   .second-section-mini-container{
       display: flex;
       flex-direction: row;
       justify-content: center;
       gap: 15px;
       padding-bottom: 0px;
   }

   .content{
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    height: 300px;
    width: 100%;
    gap: 75px;
    justify-content: center;
}
.content-mini-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    justify-content: center;
}

.sale{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(0, 153, 255);
    margin: 0px;
    font-size: 1.3rem;
}
.men-fashion{
    margin: 0px;
    font-size: 1.5rem;
}
.discount{
    margin: 0px;
}

.button-container{
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.button-1{
    padding: 7px 7px; 
    font-size: 0.5rem;
    color: white;
    background-color: rgb(0, 153, 255);
    border: none;
}
.button-2{
    padding: 6px 7px; 
    font-size: 0.5rem;
    border-color: rgb(0, 153, 255);
    color: rgb(0, 153, 255);
    border-width: 1px;
    background-color: inherit;
}

   .image-1{
    display: flex;

   }
   .third-section{
    display: flex;
    justify-content: center;
    gap: 10px;
   }
   .third-section-main-container{
    width: 280px;
    border-radius: 5px;
    background-color: whitesmoke;
    height: 220px;
    }
    .image-2{
      width: 145px;
    }
}